name: Export Android APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Build Android APK
        uses: dulvui/godot-android-export@v4
        with:
          godot-version: 4.4.1 # Change this to your specific Godot version (e.g., 4.3.0)
          working-directory: .

      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Android-APK
          path: ./**/*.apk
